@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import "tailwindcss";
@theme {
  --font-libre: "Libre Baskerville", serif;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-400: #7d7d7d;
  --color-grey-200: #d8d8d8;
  --color-grey-150: #e5e5e5;
  --color-grey-100: #f3f3f3;
  --image-gradient-1: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 84%);

  --text-preset-1: 200px;
  --text-preset-1-mobile: 100px;
  --text-preset-2: 56px;
  --text-preset-2-mobile: 24px;
  --text-preset-3: 18px;
  --text-preset-3-mobile: 14px;
  --text-preset-4: 15px;
  --text-preset-4-mobile: 10px;
  --text-preset-5: 13px;
  --text-preset-5-mobile: 9px;
  --text-preset-6: 12px;
  --text-preset-7: 10px;

  --leading-115: 1.15;
  --leading-125: 1.25;
  --leading-135: 1.35;
  --leading-200: 2;
  --leading-120: 1.2;

  --tracking-minus-02: -0.2px;
  --tracking-minus-025: -0.25px;
  --tracking-0: 0px;
  --tracking-2: 2px;
  --tracking-25: 2.5px;
}
@layer utilities {
  .masonry {
    column-count: 4;
    column-gap: 40px;
  }

  @media (max-width: 1024px) {
    .masonry {
      column-count: 2;
    }
  }

  @media (max-width: 640px) {
    .masonry {
      column-count: 1;
    }
  }

  .masonry-item {
    break-inside: avoid;
    margin-bottom: 40px;
  }
}
